@import url('http://fonts.googleapis.com/css?family=Lato');

body{

  background-color:#f6f6f6!important;
  font-family:'Lato';

}

.banner{

}
.category-bar,.all-queries, .query-form{

  padding:20px;
  margin-left:3px;
  margin-top:5px;
  background:#fff;
  border:1px solid #eee;
  border-radius:0px;

}

.all-queries{
  margin-left:20px;
}


.query-container{

  background:#fff;
  padding:20px;
  border-radius:0px;
  border:1px solid #eee;
}

.query-form input{

    display:block;
    padding:5px;
    border:1px solid #eee;
}

.query-form input[type="text"]{

    width:100%;

}

.query-form select{

  background:#fff;
  margin-top:10px;
  padding:5px;
  font-size:15px;
  border:1px solid #ccc;
}

.query-form textarea{
    height:100px;
    width:100%;
    border:1px solid #eee;
}

.answer-form input{
    display:block;
}

.answer-form textarea{
    height:100px;
    display:block;
    width:100%;
    border:1px solid #eee;
}



.author{
  color:#666;
  font-size:12px;
}

.sidebar,.user-questions, .user-answers{
  background:#fff;
  border:1px solid #eee;
  margin:3px;
}

{
  background:#fff;
  margin:2px;
}

.profile-picture{
  margin-top:15px;
  border:1px solid #eee;
}


.profile-icon{
  border-radius:30px;

}

.query-icon,.query-meta{
  display:inline-block;
}

.query-wrap{
  margin-left:8%;
}

.query-icon img{
  height:40px;
  margin-top:-25px;
  margin-right:10px;
  border:1px solid #ccc;
  border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.not-inline{
  display:block;
}
