{% load static %}
<!DOCTYPE HTML>
<html>

  <head>
    <title>{% block title%}{% endblock %}</title>

    <!-- STYLESHEETS -->
    <!--link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" /-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />

  </head>

<body>
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">VTUBeat</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" style="float:right" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{{ request.build_absolute_uri }}accounts/profile">Edit profile</a>
                    </li>
                    <li>

                    </li>
                    {% else %}
                    <li>
                        <a href="{{ request.build_absolute_uri }}accounts/login">Sign in</a>
                    </li>
                    {% endif %}

                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

  {% block content %}

    <!-- TEMPLATE CONTENT HERE -->

  {% endblock %}

<!-- SCRIPTS -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>

</body>
</html>
