{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10">




      <div class="all-queries">
        <div class="page-header">
          <h3>{{category.cat_name }} <small></small></h3>
        </div>

        <br/>
        {% for query in queries %}
        <p>
          <b>
            <a href="http://{{ request.META.HTTP_HOST }}/query/{{ query.query_slug }}">
              {{ query.title }}
            </a>
          </b>

          <span class="author">
            <br/> asked by <a href="http://{{ request.META.HTTP_HOST }}/user/{{ query.query_by }}">{{ query.query_by }}</a> on {{ query.date }}
          </span>

        </p>

        {{ query.query_details }}
        <hr/>
        {% endfor %}

    </div>



    </div>
  </div>
</div>
{% endblock %}
