{% extends "base.html" %}
<!DOCTYPE HTML>
<html>

  <head>
    <title>{% block title %} VTUBeat - Home {% endblock %}</title>
  </head>

  <body>
    {% block content %}

      <div class="container">
        <!--div class="col-md-12 banner">
          <h1>Welcome to VTUBeat</h1>

          <p>VTUBeat is a discussion board for the students of Visversvaraya Technological University, you can
            post queries, follow threads and answer to other queries
          </p>
        </div-->



        <div class="row">

          <div class="col-md-4">


              <div class="row category-bar">
                <h4>Popular forum categories</h4>
                <hr/>
                {% for category in categories %}
                  <p><a href="http://{{ request.META.HTTP_HOST }}/category/{{ category.cat_slug }}">{{ category }}</a></p>
                {% endfor %}
              </div>


              <div class="row query-form">
                <h4> Post a query</h4>
                <br/>
                <form action="http://{{ request.META.HTTP_HOST }}/post/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="btn btn-danger" value="Submit" />
                </form>

              </div>
          </div>

          <div class="col-md-7 all-queries">
              <h3>Recent posts</h3>
              <br/><br/>
              {% for query in queries %}

              <div class="query">
                <div class="query-icon">

                  <img class="profile-picture profile-icon" src="{{ MEDIA_URL }}{{ user.userprofile.profile_picture }}" height="25px"/>

                </div>
                <div class="query-meta">
                  <b>
                    <a href="http://{{ request.META.HTTP_HOST }}/query/{{ query.query_slug }}">
                      {{ query.title }}
                    </a>
                  </b>

                  <span class="author">
                    <br/><i> asked by <a href="http://{{ request.META.HTTP_HOST }}/user/{{ query.query_by }}">{{ query.query_by }}</a> on {{ query.date }}
                    under </i>&nbsp;<a href="http://{{ request.META.HTTP_HOST }}/category/{{ query.query_cat.cat_slug }}"><span class="label label-danger query-tag">{{ query.query_cat }}</span></a>
                  </span>

                </div>
              </div>

              <div class="query-wrap">
                <div class="query-answer">

                  <p>{{ query.query_details }}</p>
                </div>
              </div>


              <hr/>
            {% endfor %}
          </div>

        </div>
      </div>

    {% endblock %}
  </body>

</html>
