{% extends "base.html" %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %} VTUBeat - Home {% endblock %}</title>
  </head>

  <body>
    {% block content %}

      <div class="container">

        <h1>Welcome to VTUBeat</h1>
        <p>VTUBeat is a discussion board for the students of Visversvaraya Technological University, you can
          post queries, follow threads and answer to other queries
        </p>


        <div class="row">

          <div class="col-md-4 sidebar">
              <h3>Popular forum categories</h3>
              
              <div class="row">
                <h4> Post a query</h4>
                <form action="/post/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit" />
                </form>

              </div>
          </div>

          <div class="col-md-8 all-queries">
              <h3>Recent posts</h3>
              {% for query in queries %}
              <div class="query">

                <h4><b>{{ query.title }}</b></h4>
                {{ query.query_details }}
              </div>
            {% endfor %}
          </div>

        </div>
      </div>

    {% endblock %}
  </body>

</html>
