{% extends "base.html" %}

{% block content%}

<div class="container">
  <div class="row">

    <div class="col-md-3 sidebar">

        <img class="profile-picture" src="{{ MEDIA_URL }}{{ user_profile.profile_picture }}" width="100%"/>
        <h2><b>{{ request.user.first_name }}&nbsp;{{ request.user.last_name }}</b></h2>
        <p>{{ request.user.username }}</p>
        <p>{{ request.user.email }}
        <hr/>

    </div>
    <div class="col-md-8 sidebar">
        <h2>Your content</h2>
    </div>

  </div>
</div>

{% endblock %}
