{% extends "base.html" %}

{% block content%}

<div class="container">
  <div class="row">

    <div class="col-md-3 sidebar">

        <img class="profile-picture" src="{{ MEDIA_URL }}{{ user_profile.profile_picture }}" width="100%"/>
        <h2><b>{{ request.user.first_name }}&nbsp;{{ request.user.last_name }}</b></h2>
        <p>{{ request.user.username }}</p>
        <p>{{ request.user.email }}
        <hr/>

    </div>
    <div class="col-md-8">
        <h3>Your content</h3>

        <div class="row">
          <div class="col-md-6 user-questions">
            <h4>Questions</h4>
            <br/>
            {% for query in queries %}
              <div class="query not-inline">
                <a href="http://{{ request.META.HTTP_HOST }}/query/{{ query.query_slug }}"><b>{{ query }}</b></a>
                <p>{{ query.query_details }}
              </div>
              <hr/>
            {% endfor %}
          </div>
          <div class="col-md-5 user-answers">
            <h4>Answers</h4>
              <br/>
              {% for answer in answers %}
              <a href="http://{{ request.META.HTTP_HOST }}/query/{{ answer.answer_to_query.query_slug }}"><b>{{ answer.answer_to_query.title }}</b></a>
              <p>{{ answer }}</p>
              <hr/>

              {% endfor %}
          </div>
          </div>
        </div>

    </div>

  </div>
</div>

{% endblock %}
